# OpenAI API Key
OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

# LLM Provider (openai | anthropic)
LLM_PROVIDER=

# LLM Model (gpt-4o-mini | claude-3-5-sonnet-20240620)
LLM_MODEL=

# App Environment (development | production)
APP_ENV=

# Log Level (DEBUG | INFO | WARNING | ERROR | CRITICAL)
LOG_LEVEL=
